.logo {
    width: 100px; /* Установите желаемую ширину логотипа */
    height: auto; /* Сохраните пропорции изображения */
    margin-left: auto; /* Выровняйте логотип по левому краю */
    margin-right: 10px; /* Добавьте отступ справа от логотипа (по желанию) */
  }
  
  